/*main setting*/
:root {
    --primary-color: #4f4aa6;
    --secondary-color: #51FE44;
    --btn-color: #48ca95;
    --bg-color: #f3f3f3;
    --ligth-color: #ffff;
    --products-btn: hsl(30, 13%, 3%);

    --text-font: poppins;
    --menu-font: poppins-bold;
    --header-text-title: poppins-bold;
    --baner-title-font: eurof55;
    --baner-subtitle: poppins;
    --section-product-title: poppins-bold;
    --section-customer-title: poppins-extrabold;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--text-font)
}

@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: eurof55;
    src: url(fonts/eurof55.ttf);
}

@font-face {
    font-family: sans-seri;
    src: url(fonts/Sanseriffic.otf);
}

/* header*/
header {
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: var(--ligth-color);
    text-decoration: none;
    font-family: var(--menu-font);

}

.selected {
    color: var(--secondary-color);
}

a:hover {
    color: var(--secondary-color);
}

.header-img {
    margin: 5px 25px;

}

.header-content {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 50px;
}

.header-content-text {
    max-width: 500px;
    color: var(--ligth-color);
    display: flex;
    flex-direction: column;
}

.header-content-btns {
    margin-top: 50px;
}

.header-title {
    font-size: 80px;
    font-family: var(--header-text-title);
}

.header-subtitle {
    font-size: 40px;
}

.btn {
    color: var(--ligth-color);
    text-decoration: none;
    padding: 15px 60px;
    border: 2px solid var(--ligth-color);
    margin: 0px 5px;

}

.btn:hover {
    color: var(--ligth-color);
    background-color: var(--btn-color);
    border: 2px solid var(--btn-color);
    transition: all 2s;
}

.menu-mobile {
    display: none;
}

@media(max-width: 800px) {
    .menu-mobile {
        display: flex;
    }

    .menu-screen {
        display: none;
    }
}

@media (max-width: 1300px) {
    .header-content {
        flex-direction: column;

    }

    .header-content-text {
        margin-left: 20px;
    }

    .header-title {
        font-size: 40px;
        font-family: var
    }

    .header-subtitle {
        font-size: 20%;
    }

    .header-content-text p {
        font-size: 14px;
    }

    .btn {
        padding: 10px 30px;
    }

    .header-img {
        margin: 50px 10px;
        width: 95%;
        height: 100%;
        max-width: 500px;
    }
}

/* end header*/

/* cards section*/

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 60px;
    flex-wrap: wrap;
}

.card {
    margin: 15px;
    margin-top: 70px;
    padding: 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h5 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15PX;
}

.card p {
    text-align: center;
}

/* end cards section*/

/* products section*/

.products {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10%;

}

.section-title {
    text-transform: uppercase;
    font-family: var(--section-product-title);
    font-size: 32px;
    line-height: 55px;
    font-weight: 700;
    padding: 0;
    border-bottom: var(--btn-color) solid 1px;
    max-width: 315px;
    margin-bottom: 25px;
}


.products-container {
    background-color: var(--ligth-color);
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10%;


}

.products-card {
    width: 203px;
    display: flex;
    flex-direction: column;
    margin: 50px;


}


.products-card a {
    background-color: var(--products-btn);
    color: var(--ligth-color);
    padding: 5px;
    width: 100%;
    text-decoration: none;
    text-align: center;

}

.products-card a:hover {
    color: var(--ligth-color);
    background-color: var(--btn-color);
    border: 2px solid var(--btn-color);
    transition: all 2s;
}

.btn-secundary {
    color: var(--btn-color);
    padding: 10px 60px;
    border: 2px solid var(--btn-color);
    text-decoration: none;
    font-family: var(--text-font);
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;



}

.btn-secundary:hover {
    background-color: var(--btn-color);
    color: var(--products-btn);
    transition: all 2s
}

@media(max-width: 1100px) {
    .products-container {
        margin: 50px 10px;
        width: 95%;
        height: 100%;
        max-width: 500px;
    }
}

/* end products section*/

/* baner conten*/

baner {
    background-color: var(--primary-color);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

}

.baner-content {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}

.baner-content-text {
    max-width: 500px;
    color: var(--ligth-color);
    display: flex;
    flex-direction: column;
}

.baner-content-btns {
    margin-top: 70px;

}

.baner-title {
    font-size: 80px;
    line-height: 66px;
    font-family: var(--baner-title-font);
    padding-top: 5%;

}

.baner-subtitle {
    font-size: 36px;
    line-height: 36px;
    font-family: var(--baner-subtitler);
    padding-top: 5%;
}

.btn-secundary {
    color: var(--ligth-color);
    background-color: var(--btn-color);
    text-decoration: none;
    padding: 12px 46px;
    border: 2px solid var(--btn-color);
    margin: 0px 5px;


}

.btn-secundary:hover {
    color: var(--ligth-color);
    background-color: var(--products-btn);
    border: 2px solid var(--products-btn);
    transition: all 2s;
}

.baner-img {
    margin: 5px 25px;
    padding-left: 5%;
    padding-bottom: 2%;
}

@media (max-width: 800px) {
    .baner-content {
        flex-direction: column;

    }

    .baner-content-text {
        margin-left: 20px;
    }

    .baner-title {
        font-size: 60px;
        font-family: var(--baner-font)
    }

    .baner-subtitle {
        font-size: 25px;
    }

    .baner-content-text p {
        font-size: 14px;
    }

    .btn-secundary {
        padding: 10px 30px;
    }

    .baner-img {
        margin: 50px 10px;
        width: 95%;
        height: 100%;
        max-width: 500px;
    }
}

/* end baner content*/

/* customer section */

.customer {
    background-color: var(--ligth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.customer-card {
    width: 800px;
    padding-bottom: 15px;
}

.customer-card h3 {
    margin-bottom: 20px;
    font-size: 26px;
}

@media (max-width:800px) {
    .customer-card {
        width: 96%;
    }
}


/* end customer section*/

/* contact section */

.contact {
    background-image: url(images/contact_g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-title-white {
    text-transform: uppercase;
    font-family: var(--section-product-title);
    font-size: 40px;
    color: var(--ligth-color);
    line-height: 55px;
    font-weight: 700;
    border-bottom: var(--ligth-color) solid 1px;
    max-width: 315px;
    margin-bottom: 35px;

}


.contact-form {
    border: 3px solid var(--ligth-color);
    padding: 50px;
    position: relative;
    width: 50%;
    min-height: 1px;
}

.input-contac {
    background-color: transparent;
    border: 3px solid var(--ligth-color);
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

.textarea {
    background-color: transparent;
    border: 3px solid var(--ligth-color);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 40px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;

}

.contact-btn {
    color: var(--ligth-color);
    background-color: var(--btn-color);
    text-decoration: none;
    padding: 12px 46px;
    border: 2px solid var(--btn-color);
    margin: auto;
    max-width: 226px;
    width: 100%;
    margin-top: 30px;
    font-size: 22px;
    border-radius: 40px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contact-btn:hover {
    color: var(--ligth-color);
    background-color: var(--products-btn);
    border: 2px solid var(--products-btn);
    transition: all 2s;
    cursor: pointer;
}

input::placeholder {
    color: var(--ligth-color);
}

textarea::placeholder {
    color: var(--ligth-color);
}


@media(max-width:800px) {
    .contact-form {
        width: 96%;
    }

}

/* end contact section */

/* footer*/

footer {
    background-image: url(images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.social-icons {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    color: var(--ligth-color);
}

.social-icons a {
    font-size: 30px;
    margin: 10px;
    color: var(--ligth-color);
}

.copyright {
    width: 800px;
    color: var(--ligth-color);
    border-top: 1px solid var(--ligth-color);
    margin: 10px;
    padding: 25px;
    text-align: center;
}

.footer-content {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 25px;
}

.footer-card {
    width: 300px;
    padding: 20px;
    color: var(--ligth-color);
}

.footer-card h5 {
    font-size: 22px;
}

.footer-card p {
    font-size: 18px;
    margin-top: 10px;
}

.sub-input {
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;

}

.sub-btn {
    border-radius: 10px;
    color: var(--ligth-color);
    background-color: var(--btn-color);
    text-decoration: none;
    padding: 7px 30px;
    border: 2px solid var(--btn-color);
    margin: 5px 5px;
    cursor: pointer;
}

.sub-btn:hover {
    color: var(--ligth-color);
    background-color: var(--products-btn);
    border: 2px solid var(--products-btn);
    transition: all 1s;
}

.sub-input::placeholder {
    color: rgb(102, 102, 102);
    font-size: 20px;
    font-family: inherit;

}

@media(max-width:800px) {
    .footer-content {
        width: 96%;
    }

    .copyright {
        width: 96%;
    }
}

/* end footer*/